@charset "utf-8";
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background:#fff;
}
*:focus{
	outline: none;
}
form{
	width: 320px;
	margin: 20px auto;
}
input,textarea{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
	border:1px solid #233876;
	font-size: 20px;
	width: 250px;
	min-height: 30px;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	-webkit-transition:all 0.5s ease-in-out;
}
fieldset#account{
	width: 250px;
	margin: 10px;
	float: left;
	background: #fff;
	border-radius: 25px;
	border: none;
	padding: 0 20px 20px 20px;
}
label,input,textarea,fieldset{
	display: block;
}
legend{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 5px;
	color:#262D72;
	margin-left: -20px;
	text-align: center;
	padding: 0 10px;
	text-shadow: 1px 1px 0 #ccc;
}
textarea{
	min-height: 80px;
}
input:focus,textarea:focus{
	box-shadow: 0 0 25px #ccc;
	transform: scale(1.05);
}
input:not(:focus),textarea:not(focus){
	opacity: 0.5;
}
input:required,textarea:required{
	background: url(../images/asterisk_orange.png)no-repeat 230px 7px;
}
input:valid,textarea:valid{
	background: url(../images/tick.png)no-repeat 230px 5px;
}
input:focus:invalid,textarea:focus:invalid{
	background: url(../images/cancel.png)no-repeat 230px 7px;
}
input[type=submit],input[type=button]{
	padding: 6px;
	background:none;
	opacity: 1.0;
}